USE [master]
GO
/****** Object:  Database [Pizza]    Script Date: 02.06.2021 2:19:22 ******/
CREATE DATABASE [Pizza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pizza', FILENAME = N'D:\sql server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pizza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pizza_log', FILENAME = N'D:\sql server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pizza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pizza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pizza]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 02.06.2021 2:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[size] [nchar](12) NULL,
	[components] [nchar](128) NULL,
	[richnes] [nchar](24) NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pizza_exeptions]    Script Date: 02.06.2021 2:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pizza_exeptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](32) NULL,
	[stringExeptions] [nchar](128) NULL,
 CONSTRAINT [PK_pizza_exeptions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pizza_list]    Script Date: 02.06.2021 2:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pizza_list](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](64) NULL,
	[image] [nchar](128) NULL,
	[components] [nchar](256) NULL,
	[price] [real] NULL,
 CONSTRAINT [PK_pizza_list] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[standart_choise]    Script Date: 02.06.2021 2:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[standart_choise](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](32) NULL,
 CONSTRAINT [PK_standart_choise] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
